@model OpenVid.Models.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenVid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OpenVid</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @using Microsoft.Extensions.Configuration
                        @inject IConfiguration Configuration
                        @{
                            var configExists = bool.TryParse(Configuration["ShowUpload"], out var showUpload);
                        }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (configExists && showUpload)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="@SiteMap.VideoManagement_UploadUI.Area" asp-controller="@SiteMap.VideoManagement_UploadUI.Controller" asp-action="@SiteMap.VideoManagement_UploadUI.Action">Upload</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="@SiteMap.VideoManagement_Import.Area" asp-controller="@SiteMap.VideoManagement_Import.Controller" asp-action="@SiteMap.VideoManagement_Import.Action">Import</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="@SiteMap.VideoManagement_Curation.Area" asp-controller="@SiteMap.VideoManagement_Curation.Controller" asp-action="@SiteMap.VideoManagement_Curation.Action">Curation</a>
                            </li>
                            <li class="nav-item">
                                <form id="searchBar" class="nav-link" onsubmit="submitSearch()">
                                    @Html.TextBoxFor(s => s.SearchString)
                                    <input type="submit" value="&#x1f50d;" />
                                </form>
                                <script>
                                $(document).on('submit', '#searchBar', function (e) {
                                    e.preventDefault();
                                    searchString = $('#SearchString').val();
                                    if (searchString != "")
                                        window.location.href = '@Url.Action(SiteMap.Playback_Search, new { SearchString = " " })' + searchString;
                                });
                                </script>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OpenVid - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
</body>
</html>
