@model List<Database.Models.Tag>

<b>Tags</b>
<ul>
    @foreach (var tag in Model.Where(t => t.Type == 0))
    {
        <li>@tag.VideoTag.Count() - @Html.ActionLink(@tag.Name, SiteMap.Playback_Search, new { SearchString = $"tag:{tag.Name}" })</li>
    }
</ul>

<br />

<b>Cast</b>
<ul>
    @foreach (var tag in Model.Where(t => t.Type == (byte)1))
    {
        <li>@tag.VideoTag.Count() - @Html.ActionLink(@tag.Name, SiteMap.Playback_Search, new { SearchString = $"tag:{tag.Name}" })</li>
    }
</ul>