@model OpenVid.Models.Shared.VideoListViewModel

<div class="row">
    @foreach (var video in Model.Videos)
    {
        <a href="@Url.Action("Index", "Play", new { md5 = video.Md5 })" data-toggle="tooltip" title="@video.Name"><div class="tile"><img src="@Model.FileBaseUrl/thumbnail/@(video.Md5).jpg" onerror="this.onerror = null; this.src = '/img/thumb.png';" /><br /><b>@video.Name</b></div></a>
        <p></p>
    }
</div>

@if (Model.HasNextPage)
{
    <a id="loadMore" class="btn btn-info" data-page="@Model.NextPageNumber" data-search-query="@Model.SearchQuery">Load More</a>
}