@model OpenVid.Areas.Catalog.Models.Edit.EditViewModel
@{
    ViewBag.Title = $"Editing: {Model.Name}";
}

<h1 class="page-header"><i>Editing: </i>@Model.Name <small><a href="/@Model.Id">[View]</a></small></h1>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginPanel("Video Details"))
        {
            <p>Loading...</p>
        }
    </div>
    <div class="col-md-6">
        @using (Html.BeginPanel("Video"))
        {
            <div class="video-container">
                <div class="youtube-theme">
                    <video id="youtube-theme" data-shaka-player autostart></video>
                </div>
            </div>
        }
        @using (Html.BeginPanel("Thumbnails"))
        {
            <p>Loading...</p>
        }
        @using (Html.BeginPanel("Metadata"))
        {
            foreach (var metadata in Model.Update.Metadata)
            {
                <div class="form-group">
                    MD5: @metadata.Md5 <a href="/@(Model.Id)">[View]</a>
                    <br>
                    Dimensions: @(metadata.Width)x@(@metadata.Height)
                    <br>
                    Size:  @((int)(metadata.Size/1024/1024)) MB
                    <br>
                    Quality Score: @((int)((metadata.Width * metadata.Height * metadata.Size / 1024) / metadata.DurationInSeconds / 1000000))
                </div>
            }
        }
    </div>
</div>

@section scripts{
    <script src="~/js/playback/play.js"></script>
    <script src="~/js/catalog/edit.js"></script>
    <script>
        playVideo.init();
        @foreach (var src in Model.VideoSources)
        {
            <text>
                playVideo.setSource('@src.Key', '@src.Value');
            </text>
        }

            editVideo.init(getPageId());
    </script>
}
